html {
  background: #eee;
}


body {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maincontainer {
  width: 80vw;
  height: 80vh;
  background: lightblue;
}





.webcam {
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
